
body {
    font-family: Arial, sans-serif;
}
#show {
    width: 210%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width:280%;
  
}
.button:hover {
    background-color:aqua;
}
.container{
    margin-top: 3%;
    max-width:70%;
    width:43%;
    border-radius: 12px;
    padding: 10px 20px,20px;
    background:aquamarine;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
